@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(https://fonts.googleapis.com/css?family=Gabriela);

h1{
    color: purple;
    font-family: 'Cabin Sketch';
    margin-top: 50px;
}
h2{
    color: #f2f2f2;
    background-color: hwb(268 30% 40%);
    width: 10%;
    margin-left: 45%;
    font-family: 'Cabin Sketch';
    font-size: 40px;
}
p, h3{
    color: #f2f2f2;
    font-family: 'Gabriela';
    font-size: 13;
}
body{
    background-color: #454545;
    background-image: url(../media/fondo.jpg);
    text-align: center;
}
section img{
    height: 190px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}
#song{
    margin-top: 20px;
}
#letra{
    margin-top: 40px;
    margin-bottom: 60px;
}
section.estrofa{
    border: 3px solid hwb(268 0% 50%);
    border-radius: 0 20px 20px 20px;
    margin: 20px 400px 20px 400px;
    background-color: hwb(268 30% 40%);
}
section.estribillo{
    border: 3px solid hwb(268 0% 80%);
    border-radius: 20px 20px 0 20px;
    margin: 20px 400px 20px 400px;
    background-color: hwb(268 10% 70%);
}