body{
    text-align: center;
    background-color: #c8cbca;
    font-family: Verdana;
}
.contenedor{
    margin-left: 15%;
    margin-right: 14%;
}
.rotulos{
    text-align: left;
    font-size: 30px;
    padding-left: 1%;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: gray;
    height: 40px;
    color: #f2f2f2;
}
section img{
    float: left;
    margin-right: 10px;
    height: 170px;
    width: 130px;
}
.parrafo{
    text-align: justify;
    text-indent: 35px;
}
.fecha{
    color: rgb(185, 6, 6);
}
#titulo{
    margin-top: 30px;
}
.claves{
    background-color: #f2f2f2;
}
footer{
    background-color: #c8cbca;
}