@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Crushed&family=Galdeano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Crushed&family=Galdeano&display=swap');

body{
    margin: 0;
    background-color: #aaa;
    text-align: justify;
    font-family: Verdana, Tahoma, sans-serif;
}
#presen{
    display: flex;
    justify-content: space-between;
}
#hmenu{
    margin: 20px 0 0 20px;
}
#titulo{
    font-family: 'Courier Prime';
    font-size: 50px;
    margin: 20px 110px 10px 0px;
    text-align: right;
}
#contenido{
    margin: 0 90px 0 90px;
}
/* Nav */
#cuadro{
    background-color: #f2f2f2;
    float: left;
    position:fixed;
    width: auto;
    height: auto;
    margin-left: 5px;
    padding: 8px;
    border: 3px solid transparent;
    border-image: linear-gradient(320deg, #333, #888, #bbb) 1;
}
/* Secciones */
div.cajas{
    background-color: #ccc;
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}
div.textos{
    padding: 10px 15px 0px 15px;
    text-indent: 35px;
}
div.encabezado{
    background-color: #777;
    color: #f2f2f2;
    padding: 5px 5px 5px 15px;
    border-radius: 15px 15px 0px 0px;
    font-weight: bold;
    font-size: 18px;
}
/* Posturas */
div.minicajas{
    background-color: #ffffff;
    margin: 20px 20px 0px 20px;
}
div.etiquetas{
    background-color: #aaa;
    color: #fff;
    padding: 5px;
}
.minitextos{
    padding: 12px 8px 8px 8px;
    text-indent: 35px;
}
.minicajas img{
    float: right;
    margin: -10px 18px -10px 18px;
    height: 75px;
    width: 80px;
}
/* Imagenes */
div.grafica{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
hr{
    background-color:  #ffcc00;
    height: 4px;
    width: 600px;
    border: 2px solid #333;
}
footer{
    background-color: #ffcc00;
    font-family: 'Comic Neue';
    font-weight: bold;
    font-size: 18px;
    margin-left: 110px;
    margin-right: 110px;
    padding: 5px;
}
/* Textos especiales */
.name{
    font-family: 'Galdeano','Times New Roman';
    font-size: 16px;
}
.termino{
    color: #ee0000;
}
.clave{
    text-decoration: underline;
    font-weight: bold;
}
.vinculo:visited{
    color: blue;
}
.vinculo:hover{
    color: red;
}