body{
    background-image: url(fondo.jpg);
    background-size: cover;
    text-align: center;
}
h1{
    color: #f2f2f2;
    margin-top: 5%;
}
table, td, th{
    border: 10px solid #7c2a1c;
    padding: 5px;
    margin-left: 28%;
    margin-bottom: 5%;
}
.negras{
    background-color: #000;
    height: 130px;
    width: 130px;
}
.blancas{
    background-color: #f2f2f2;
    height: 130px;
    width: 130px;
    font-size: 20px;
}
td p{
    margin-top: 20px;
}