body{
    background-color: #ece2c6;
    background-image: url(media/fondo.png);
    margin: 0;
}
header{
    display: flex;
    background-color: #333;
    color: #f2f2f2;
    height: 70px;
    font-size: 30px;
    align-items: center;
    justify-content: space-between;
}
header p{
    margin-left: 80px;
}
body h1{
    margin-left: 50px;
}
.textos{
    color: #333;
    background-color: #f2f2f2;
    border: 2px solid #333;
    font-size: 18px;
    padding: 30px;
    margin: 0 250px 0 250px;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
em{
    background-color: #b784ae;
    color: #000;
}
img{
    width: 35%;
    margin-left: 33%; margin-bottom: 1%; margin-top: 1%;
}
#info{
    color: #f2f2f2;
    background-color: #333;
    font-size: 20px;
}
footer{
    bottom: 0;
    position:fixed;
    background-color: #333;
    color: #f2f2f2;
    height: 150px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
   
    width: 100%;
}
footer p{
    margin-left: 5%; margin-right: 5%;
}
a#vmenu{
    font-size: 20px;
    margin-right: 10%;
    color: #f2f2f2;
}