body {
  padding: 0 50px;
  background-color: hwb(32 50% 22%);
  font-family: sans-serif;
  text-align: justify;
}

#rmenu{
  margin-left: 47%;
}

h1 {
  margin: 0;
  font-family: "SigmarOne";
  font-size: 3rem;
  text-align: center;
}

h2 {
  margin: 0;
  color:hwb(32 0% 52%);
  font-family: "SigmarOne";
  font-size: 3rem;
  text-transform: capitalize;
  text-shadow: 3px 3px black;
}

strong {
  padding: 0 10px;
  background-color: white;
  color:hwb(32 0% 52%);
}

i {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
}

time {
  color: purple;
}

img {
  border: hwb(32 20% 52%) 5px solid;
  padding: 5px;
}

img.izquierda {
  float: left;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

img.derecha {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-bottom: 30px;
}

p.izquierda {
  float: left;
  width: 33%;
}

p.centrado {
  text-align: center;
}

hr {
  clear: both;
  width: 76%;
  height: 7px;
  border: black 1px solid;
  border-radius: 5px;
  margin: 40px auto;
  background-color: hwb(32 20% 50%);
}

address {
  text-align: right;
  font-style: normal;
}