body{
    background-color: #333;
    color: #f2f2f2;
}
h1{
    margin-left: 5%;
}
p,h2{
    margin-left: 8%;
}
/* ADAPTATIVO */
#botones1{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    margin: 0 10%;
}
#botones2{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    margin: 0 10%;
}
#botones3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 0 10%;
}
#botones4{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    margin: 0 10%;
}
@media only screen and (max-width: 1300px) {
    #botones1{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    #botones2{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}
@media only screen and (max-width: 850px) {
    #botones1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #botones2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #botones4{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* */
button{
    margin: 5px;
    padding: 8px;;
    background-color: #222;
    color: #f2f2f2;
    border: 2px solid blue;
}
button:hover{
    border: 3px solid red;
}
.frame{
    background-color: #f2f2f2;
    margin: 30px 50px;
    border: 5px solid blue;
}
.btn{
    margin-top: 20px;
    margin-left: 80px;
}
#vinculo{
    background-color: #222;
    color: red;
    padding: 10px;
    border: 2px solid blue;
}
#sm1{
    width: 90%;
    border: 1px solid blue;
}
#sm2{
    width: 90%;
    border: 1px solid purple;
}
#sm3{
    width: 90%;
    border: 1px solid orange;
}
#sm4{
    width: 90%;
    border: 1px solid red;
}